.option-button {
  width: 20%; 
  height: 10%;
  margin-bottom: 10px; 
  margin-right: 5%;
  border: none;
  text-decoration: none;
  background: local;
  font-size: larger;
}



.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
